# ===== SIMULATION =====

# Numbers of simulations
simulation.experiments 1

# Endtime of the simulation
simulation.endtime 300

# Size of the network
network.size 100000

# ===== LAYERS =====

# Definition of transport layer
protocol.transport virusspreading.Transport

# Minimal latency
protocol.transport.mindelay 80

# Maximal latency
protocol.transport.maxdelay 120

# Definition of applicative layer
protocol.applicative virusspreading.Individual

# Link between the applicative layer and the transport layer
protocol.applicative.transport transport

# To let the applicative layer to know its pid
protocol.applicative.myself applicative

# ===== INITIALIZER =====

# Declaration of the initializer module
init.initializer virusspreading.Initializer

# To let the module knows the pid of the applicative layer
init.initializer.protocolPid applicative

# Number of people met per day
init.initializer.peopleMetPerDay 5

# Change to be infected by an infected person
init.initializer.chanceBeingInfected 0.97

# Chance to go out and meet people (Only people that goes outside can get the virus obviously)
# This will change over the days and with age ect
init.initializer.chanceToGoOut 0.7

# Number of day he can fell the virus and thus either go to the hospital or stay at home

# ===== CONTROL =====

control.control virusspreading.Control

control.control.step 5